src/main/mule/keys.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <apikit:config name="keys-config" api="resource::663a0048-7c7b-47be-9b95-bde284c854c9:keys:1.0.1:raml:zip:keys.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="keys-main">
        <http:listener config-ref="HTTPS_Listener_config_standard" path="${apiKeysPath}">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="keys-config" />
    </flow>
    <flow name="keys-console">
        <http:listener config-ref="HTTPS_Listener_config_standard" path="/consoleKeys/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="keys-config" />
    </flow>
    <flow name="put:\keys\(key):text\plain:keys-config">
        <flow-ref doc:name="Flow Reference" doc:id="13ec43d4-2727-45d5-9861-23feab33c0de" name="keys-logic-one-put" />
    </flow>
    <flow name="put:\keys:application\json:keys-config">
        <flow-ref doc:name="Flow Reference" doc:id="050f73a6-26a7-4a8a-a216-c7d4c0196823" name="keys-logic-all-post" />
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  response: "la carga de las claves ha sido existosa"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="put:\keys:text\plain:keys-config">
        <flow-ref doc:name="Flow Reference" doc:id="06749530-315d-4a1b-b6ef-733befbf7481" name="keys-logic-all-post" />
		<ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  response: "la carga de las claves ha sido existosa"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
